@charset "utf-8";
@import "~bulma/bulma";
@import '~bulma-slider/src/sass';

html, body, #app, .h-100 {
    @extend .h-100;
    overflow: hidden;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.button {
    -webkit-tap-highlight-color: transparent;
}