<?xml version='1.0' encoding='utf-8'?>
<widget id="net.pipe01.kantoku_remote" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Kantoku Remote</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application android:usesCleartextTraffic="true" />
    </edit-config>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.google.zxing.client.android.CaptureActivity" android:clearTaskOnLaunch="true" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden" android:exported="false"/>
      <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share"/>
    </config-file>

    <platform name="android">
        <icon src="../../Assets/ic_launcher/res/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="../../Assets/ic_launcher/res/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="../../Assets/ic_launcher/res/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="../../Assets/ic_launcher/res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="../../Assets/ic_launcher/res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>
</widget>
